﻿extends ./layouts/chat_layout.jade

block chat

    input(type='hidden' id='username' value='#{username}')

    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                ul.nav.navbar-nav
                    li.active
                        a CHAT
                    li
                        a(href='logout') LOG OUT

    div.col-lg-3
        section(id='users' class='view' data-bind='template: template')

    div.col-lg-9
        section(id='common' class='view' data-bind='template: template')
        section(id='message' class='view' data-bind='template: template')

    section(id='private' class='modal fade' data-bind='template: template')

