﻿extends ./layouts/index_layout.jade

block content

        if error

            div.alert.alert-danger
                strong Message:
                =error.message

                br

                strong Status:
                =error.status

                br

                strong Trace:
                =error.stack
        
        else

            div.alert.alert-danger
                Aw, snap! Something went wrong...