﻿extends ./layouts/index_layout.jade

block content

    div.col-lg-offset-4.col-lg-4

        h1.center-block.text-primary LOG IN

    div.col-lg-offset-3.col-lg-6

        form(class='form-horizontal' method='post')

            div.form-group
                span.col-lg-2.control-label NAME:
                div.col-lg-10
                    input(class='form-control' name='username' type='text' placholder='Name' required)

            div.form-group
                span.col-lg-2.control-label PASSWORD:
                div.col-lg-10
                    input(class='form-control' name='password' type='password' placholder='Password' required)

            button(class='btn btn-primary brn-large btn-block', type='submit') JOIN