﻿doctype html
html

  head
    link(rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='/vendors/toastr/toastr.min.css' type='text/css')
    link(rel='stylesheet' href='styles/chat.css' type='text/css')
    title Node.js chat

  body.container

    block chat

    script(type='text/javascript' data-main='js/app.js' src='/vendors/requirejs/require.js')