﻿doctype html
html

  head

    title Node.js chat
    link(rel='stylesheet' type='text/css' href='/vendors/bootstrap/dist/css/bootstrap.min.css')

  body.container

    block content

    script(type='text/javascript' src='/vendors/jquery/dist/jquery.min.js')

    script(type='text/javascript' src='/vendors/bootstrap/dist/js/bootstrap.min.js')