﻿<ul class="list-group" data-bind="foreach: messages">
    <li class="list-group-item row">
        <span class="pull-left"><b data-bind="text: author"></b> : </span>
        <span class="col-lg-9 message-text" data-bind="text: text"></span>
        <span class="badge" data-bind="text: date.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric' })"></span>
    </li>
</ul>