﻿<div>
    <h2>COMMON ROOM</h2>
    <!-- ko with: chat -->
        <div class="chat" data-bind="template: template"></div>
    <!-- /ko -->
    <!-- ko with: message -->
        <div class="message" data-bind="template: template"></div>
    <!-- /ko -->
</div>