﻿<div>

    <form data-bind="event: { submit: send }" >

        <div class="input-group">
            <input type="text" class="form-control" data-bind="value: text" placeholder="FILL ME" required />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">SEND</button>
            </span>
        </div>

    </form>

</div>