﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" data-bind="text: recipient"></h4>
        </div>
        <div class="modal-body">
            <!-- ko with: chat -->
                <div class="chat" data-bind="template: template"></div>
            <!-- /ko -->
            <!-- ko with: message -->
                <div class="message" data-bind="template: template"></div>
            <!-- /ko -->
        </div>
    </div>
</div>