﻿<div>
    <h2>USERS</h2>
    <div class="list-group" data-bind="foreach: users">
        <a href="#" class="list-group-item list-group-item-info" data-bind="text: name == $parent.username ? name + ' (YOU)' : name, click: $parent.userClicked.bind($parent) "></a>
    </div>
</div>